.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.formErrorError {
  color: red;
  margin-top: 20px;
}

.register {
  display: flex;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.mainwrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainwrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 25px;
}

.mainwrapper form button {
  margin: 10px;
}



.quote {
  display: flex;
  justify-content: center;
}